<?xml version="1.0" encoding="utf-8"?>
<!-- 	FACULTAD DE INGENIERIA
	Laboratorio de Biorobotica 
	DANIEL GARCÉS MARÍN
	Launch para iniciar todos los nodos del poyecto para el uso del módulo Smart Things y a app móvil
		<ÁZCATL>

	Ultima versión: 7 de Febrero del 2019	-->
	
<launch>

	<group ns="hardware">
<!--	 ダ・ガ・マ・jû-san -->
<!--	Inicializar nodo <node name="xochitonal_arduino_node"/> con la siguiente configuración en la raspberry-->
		<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
		<param name="port" value="/dev/ttyACM1"/>
		<param name="baud" value="500000"/>
		</node>
	</group>

	<group ns="software">
		<node name="azcatl_smth" pkg="azcatl" type="azcatl_smth" output="screen" />
		<node name="smart_things_node" pkg="smart_things" type="smart_things_node.py" output="screen" />
	</group>

</launch>